@import 'footer','variables', 'mixins', 'functions', 'header' ;

span{
	font-weight: 100;
	color: #fff;
}

.feature {
	margin-bottom: 50px;
	&-content {
		padding: 0 15px;
		margin-top: 30px;
	}
	.fa {
		padding-top:50px;
		color: #e84545;
		font-size: 60px;
		font-weight: 100;
	}
}

a>img{
	overflow: hidden ;
}

.worker {
	max-width: 270px;
	margin-top: 65px;
	&-content {
		margin-top: 20px;
	}
	h4 {
		font-weight: $defecto;
	}
	h5 {
		color: $brand-color;
		font-size: 13px;
		font-weight: $defecto;
		margin-bottom: 20px;
	}
}
.social-icons {
	margin-top: 30px;
	li {
		float: left;
		list-style-type: none;
	}
	a {
		border: 1px solid #e8ecee;
		border-radius: 5px;
		color: #c6cacc;
		display: block;
		font-size: 15px;
		height: 35px;
		line-height: 40px;
		margin-right: 2px;
		text-align: center;
		width: 30px;
		&:hover {
			background-color: #aaa;
			border-color: #aaa;
			color: $white;
		}
	}
}


.raperos{
	background: #aaa;
	.img-raperos{
		img{
			width: 100%;
			margin:0!important;
		}
		
		
	} 
	.comment{
		width: 50%;
		
	
	}

}
